@page
@model Lazztech.Cloud.ClientFacade.Pages.Event.IndexModel
@{
    Layout = "/Pages/Shared/Minton/_Layout_HackathonHandler.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<div class="background-container">
    <div class="jumbotron">
        <h1>Welcome to @Model.Organization.Name's @Model.Event.Name event!</h1>
        <p class="lead">Browse through the selection of on premise mentors. If they're available you can request their assistance; doing so will send the mentor an sms message alerting them to come meet up with you.</p>
        <p class="lead">If the mentor accepts the request to help their card will be greyed out until they are finished.</p>
    </div>
    @if (Model.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @Model.Message
        </div>
    }
    else if (Model.Alert != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Alert
        </div>
    }
    <h2>Present Mentors</h2>
    <hr />
    <div class="row">
        @for (int i = 0; i < Model.Mentors.Count; i++)
        {
            if (i > 0 && i % 3 == 0)
            {

            @:</div><br /><div class="row">
                // close and start new row
            }
            <div class="col-md-4 col-sm-1">
                <div class="card">
                    <!--         <img class="card-img-top" src="@Model.Mentors[i].Image" alt="Card image cap"> -->
                    @if (Model.Mentors[i].Image != null)
                    {
                        <img class="card-img-top" src="@Model.Mentors[i].Image" alt="Card image cap">
                    }
                    else
                    {
                        <img class="card-img-top" src="~/Content/blank-profile-picture.png" alt="Card image cap">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Model.Mentors[i].FirstName</h5>
                        <p>@Model.Mentors[i].ProfessionalTitle</p>
                        <p class="card-text">Interests: @Model.Mentors[i].Description</p>
                        <button type="button" class="@(Model.Mentors[i].IsAvailable ? "btn btn-primary" : "btn btn-outline-secondary")" data-toggle="modal" data-target="@(Model.Mentors[i].IsAvailable ? $"#{Model.Mentors[i].FirstName}{Model.Mentors[i].MentorId}" : "")">
                            @(Model.Mentors[i].IsAvailable ? "Request Their Assistance" : "Currently Unavailable")
                        </button>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    <br />
</div>

<script>
    function ajax() {
        $.ajax({
            type: "POST",
            url: "/api/Event/MentorRequest?uniqueRequesteeId=1&teamName=2&teamLocation=3&mentorId=4",
            data: null,
            contentType: 'application/json; charset=utf-8',
            error: function (response) {
                alert("Your request did not go through. Please try submitting it again");
                console.log(response);
            },
            success: function (response) {
                alert("Request Submited");
                console.log(response);
            }
        });
    };
</script>

<script>
    function closeModal(id) {
        $('#' + id).modal('toggle'); //or 
        $('#' + id).modal('hide');
        confetti();
    }
</script>

<!-- MODALS -->
@foreach (var mentor in Model.Mentors)
{
    <div class="modal fade" id="@mentor.FirstName@mentor.MentorId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Enter your details to help @mentor.FirstName find you</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="Post" asp-controller="MentorRequest" method="POST" data-ajax="true">
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Hidden("uniqueRequesteeId", Model.UniqueRequesteeId)
                            @Html.Label("Team Name", "Team Name")
                            @Html.TextBox("teamName", null, htmlAttributes: new { @class = "form-control valid", @type = "text", required = "required" @*@data_val = "true", @data_val_required = "Please enter Team name or personal name."*@ })
                            <br />
                            @Html.Label("Team Location", "Team Location")
                            <small id="emailHelp" class="form-text text-muted">Description of where you're sitting</small>
                            @Html.TextBox("teamLocation", null, htmlAttributes: new { @class = "form-control valid", @type = "text", required = "required" @*@data_val = "true", @data_val_required = "Please enter a description of where you are to help your mentor find you."*@ })
                            @Html.Hidden("mentorId", mentor.MentorId)
                            <br />
                            <small id="emailHelp" class="form-text text-muted">After selecting submit your mentor will be notified and come to help out.</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" value="#teamPin" id="btnSubmit">Submit</button>
                        <script>
                            @{ var modalId = mentor.FirstName + mentor.MentorId; }
                            $(document).ready(function () {
                                $('#btnSubmit').click(function () {
                                    $('#@modalId').modal('hide');
                                });
                            });
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
}