@page
@model Lazztech.Cloud.ClientFacade.Pages.Marketing.Admin.InstagramNodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstagramNode[0].FocusGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InstagramNode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocusGroup.FocusGroupId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InstagramNodeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InstagramNodeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InstagramNodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
