@page
@model Lazztech.Cloud.ClientFacade.Pages.Events.Admin.Judges.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Judge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Judge.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.Event)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.ProfessionalTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.ProfessionalTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judge.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Judge.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
