@page
@model Lazztech.Cloud.ClientFacade.Pages.Admin.EventManagement.Sms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sms.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms.ToPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.ToPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms.FromPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.FromPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms.MessageBody)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.MessageBody)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms.Sid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.Sid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sms.DateTimeWhenProcessed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sms.DateTimeWhenProcessed)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sms.SmsId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
