@page
@model Lazztech.ObsidianPresences.ClientFacade.Pages.Vision.SnapshotModel
@{
    ViewData["Title"] = "Snapshot";
}

<h2>Snapshot</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img class="rounded img-fluid" src="@Model.Snap.ImageDir" alt="Card image cap">
        </div>
        <div class="col">
            <h4 class="card-title">@Model.Snap.DateTimeWhenCaptured.ToString()</h4>
            <br />
            <p>People: 
                @foreach (var person in Model.Snap.People)
                {
                    @person.Name<text> </text>
                }
            </p>
            <p>Image Name: @Model.Snap.ImageName</p>
            <p>Location: @Model.Snap.Location</p>
            <p>Status: @Model.Snap.Status</p>
        </div>
    </div>
</div>
<br />
