@page
@model Lazztech.Cloud.ClientFacade.Pages.Admin.EventManagement.IndexModel
@{
    ViewData["Title"] = "Index";
    var properties = typeof(Lazztech.Events.Dto.Models.SmsDto).GetProperties();
}

<h2>Event Dashboard</h2>
<br />
<br />
<div class="row">
    <div class="col">
        <h3>Events</h3>
        <p>
            Number of Events: @Model.OrganizationCount
        </p>
        <a class="btn btn-dark" href="./Mentors" role="button">Manage Organizations</a>
    </div>
    <div class="col">
        <h3>Events</h3>
        <p>
            Number of Events: @Model.EventCount
        </p>
        <a class="btn btn-dark" href="./Mentors" role="button">Manage Events</a>
    </div>
    <div class="col">
        <h3>Mentors</h3>
        <p>
            Number of Mentors: @Model.MentorCount
        </p>
        <a class="btn btn-dark" href="./Mentors" role="button">Manage Mentors</a>
    </div>
    <div class="col">
        <h3>Mentor Invites</h3>
        <a class="btn btn-dark" href="./MentorInvites" role="button">Mentor Invites</a>
    </div>
</div>
<br />
<hr>
<h2>10 Recent Sms Messages</h2>
<br />
<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            <table class="table table-striped table-dark table-responsive">
                <thead>
                    <tr>
                        @{
                            foreach (var property in properties)
                            {
                                <th>@property.Name</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var sms in Model.Messages)
                        {
                            <tr>
                                @foreach (var value in sms.GetType().GetProperties())
                                {
                                    <td>@value.GetValue(sms, null)</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>