@page
@model Lazztech.Cloud.ClientFacade.Pages.Admin.EventManagement.IndexModel
@{
    ViewData["Title"] = "Index";
    var properties = typeof(Lazztech.Events.Dto.Models.SmsDto).GetProperties();
}

<h2>Event Dashboard</h2>
<br />
<br />
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="text-center card-box">
            <h4>Organizations</h4>
            <h3 class="text-success m-t-10">@Model.OrganizationCount</h3>
            <span>
                <a class="btn btn-dark" asp-page="./Organizations/Index" role="button">Manage Organizations</a>
            </span>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="text-center card-box">
            <h4>Events</h4>
            <h3 class="text-primary m-t-10">@Model.EventCount</h3>
            <a class="btn btn-dark" asp-page="./Events/Index" role="button">Manage Events</a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="text-center card-box">
            <h4>Mentors</h4>
            <h3 class="text-pink m-t-10">@Model.MentorCount</h3>
            <a class="btn btn-dark" asp-page="./Mentors/Index" role="button">Manage Mentors</a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="text-center card-box">
            <h4>Mentor Requests</h4>
            <h3 class="text-muted m-t-10">@Model.MentorRequestCount</h3>
            <a class="btn btn-dark" asp-page="./MentorRequests/Index" role="button">Mentor Requests</a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="text-center card-box">
            <h4>Mentor Invites</h4>
            <h3 class="text-purple m-t-10">@Model.MentorInviteCount</h3>
            <a class="btn btn-dark" asp-page="./MentorInvites" role="button">Mentor Invites</a>
        </div>
    </div>
</div>
<br />
<hr>

<h2>10 Recent Sms Messages</h2>
<br />
<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        @{
                            foreach (var property in properties)
                            {
                                <th>@property.Name</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var sms in Model.Messages)
                        {
                            <tr>
                                @foreach (var value in sms.GetType().GetProperties())
                                {
                                    <td>@value.GetValue(sms, null)</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>